<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">

        <div class="text-center">
          <h1>Login</h1>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" formControlName="username" class="form-control" id="username">
              <small class="text-danger" *ngIf="loginForm.get('username').touched && loginForm.get('username').invalid">
                Username is required </small>


            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control" id="password">
              <small class="text-danger"
                *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">Password is
                required</small>
            </div>
            <!-- <div class="mb-3">
            <input type="checkbox" class="btn-check" id="btncheck" autocomplete="off">
             <label  for="btncheck" formControlName="remember" isChecked>Remember me</label>
</div> -->

            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary" >Log In </button>
    
            <br>
            <div class="mb-3">
              <small class="text-center"> Not an admin?    </small>
              <a [routerLink]="['/signUp']"  > Create Account</a>
              </div>
          </form>
        </div>
      </div>
    </div>

  </div>


</div>