
#btnAdd{
    margin-left: 450px;
    margin-top: 10px;
 }
 nav{
     margin-bottom: 60px;
 }
 
#btnDelete{
    margin-left: 12px;
    padding: 6px 6px 6px 6px;
 }

 #btnLogOut{
    margin-left: 600px;
    margin-top: -65px;
 }

#paginate{
    margin-left: 500px; 
    margin-top: 20px;
 }

 #search{
     margin-left: 400px ;
     width: 40%;
     position: absolute;
 
 }

.searchGroup{
    margin-bottom: 130px;
}
 
