.card{
   
    margin-top: 80px ;
    margin-left:350px;
    margin-right: -500px;
    width:400px;
    background: linear-gradient(#e66465, #9198e5);

}

input{
  
    width: 64%;
    margin-left: 80px;
}

label{
    margin-left: 10px;
}

h1 {
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

button{
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #9198e5;
}